body {
    background-image: url(shrek3.jpg); 
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: #306D31;
    padding: 15px 225px;
    text-decoration: none;
    display: inline-block;
    font-size: 100px;
    font-weight: bold;
    font-family: 'Cute Font';
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #306D31; 
    color: black; 
    border: 10px solid #4CAF50;
  }

  .button:hover {
    background-color: #4CAF50;
    color: white;
  }
  

.dankclock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: 'Cute Font';
    font-size: 150px;
    color: #30E833;
    border: 10px dashed green;
}